<h1>Listing hosts</h1>

<br>

  <table class="table table-striped table-bordered">
      <thead>
          <tr>
            <th>Hostname</th>
            <th>OS</th>
          </tr>
      </thead>
      <tbody>
        <% @hosts.each do |host| %>
          <tr>
            <td><%= link_to host.hostname, host %></td>
            <td><%= host.os %></td>
          </tr>
        <% end %>
      </tbody>
  </table>

</br>

<%= link_to 'New Host', new_host_path %>

<%= paginate @hosts %>
